.todo-box {
  max-width: 60%;
  height: 500px;
  border: 2px solid rgb(133, 108, 0);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 3px 2px 14px rgba(128, 128, 128, 0.466);
  margin: 3% auto;
}
.todo-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.todo-list {
  height: 75%;
  overflow: scroll;
  overflow-x: hidden;
}

.todo-input-box {
  width: 70%;
  padding: 2.5px;
}

.empty {
  font-size: 60px;
  margin-top: 80px;
}
.empty::first-letter {
  color: red;
}
